<mat-form-field appearance="outline">
  <mat-label>{{ label }}</mat-label>
  <mat-date-range-input [rangePicker]="picker">
    <input
      matStartDate
      [placeholder]="placeholderStart"
      [formControl]="controlStartdatum"
    />
    <input
      matEndDate
      [placeholder]="placeholderEnd"
      [formControl]="controlEnddatum"
    />
  </mat-date-range-input>
  <mat-hint>{{ hint }}</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>
</mat-form-field>
