@import 'tailwindcss'; /* To make utility classes available in globally in project */

html,
body {
  height: 100%;
  color: #303030;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.vanish {
  display: none !important;
}

h1 {
  font-size: 1.4rem;
  font-weight: 500;
  padding-bottom: 0;
  margin-bottom: 1.5rem;
}
