@import 'tailwindcss'; /* To make utility classes available in globally in project */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.vanish {
  display: none !important;
}
