@use '@angular/material' as mat;
@import 'tailwindcss'; /* To make utility classes available in globally in project */

html,
body {
  height: 100%;
  color: #303030;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.vanish {
  display: none !important;
}

body {
  --h1-fontsize: 1.4rem;

  h1 {
    font-size: var(--h1-fontsize);
    line-height: var(--h1-fontsize);
    font-weight: 500;
    padding-bottom: 0;
    margin-bottom: 1.5rem;
  }
}

.form-container {
  max-width: 30rem;
}

.mdc-notched-outline__notch {
  border-right: none !important;
}

:root {
  @include mat.select-overrides(
    (
      trigger-text-size: 0.87rem,
    )
  );

  .mat-mdc-select {
    margin-top: 5px !important;
  }

  @include mat.table-overrides(
    (
      background-color: none,
      header-headline-color: #111,
      row-item-outline-color: #bbb,
    )
  );

  @include mat.button-overrides(
    (
      filled-container-color: #1fb990,
      filled-horizontal-padding: 1.1rem,
      filled-container-height: 2.1rem,
      filled-container-shape: 0.3rem,
      filled-label-text-size: 0.9rem,
    )
  );

  @include mat.form-field-overrides(
    (
      // Following props works well, even when commented out:
      // outlined-outline-color: #efefef
      container-text-size: 0.87rem,
      outlined-label-text-size: 0.87rem,
      outlined-container-shape: 0.25rem,

      // outlined-with-label-container-padding-top: 1.2rem,
       // outlined-with-label-container-padding-bottom: 0rem
    )
  );

  .mat-mdc-text-field-wrapper {
    background-color: #fdfdfd !important;
  }

  .mdc-floating-label {
    top: 1rem !important;
  }

  .mdc-floating-label--float-above {
    top: 28px !important;
  }

  .mat-mdc-form-field-infix {
    min-height: 2.2rem !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    // display: none;
  }

  .mat-mdc-input-element {
    margin-top: 5px;
  }

  .mat-mdc-row:hover {
    background-color: #eee !important;
    cursor: pointer;
  }

  .mat-mdc-form-field:has(textarea) {
    width: 100% !important;

    padding-bottom: 1rem !important;
  }

  textarea {
    min-height: 10rem !important;
  }
}

kontakt-erstellen-oder-bearbeiten,
immobilie-erstellen-oder-bearbeiten,
beziehung-erstellen-oder-bearbeiten {
  @include mat.button-overrides(
    (
      filled-container-color: #1fb990,
      filled-horizontal-padding: 1.2rem,
      filled-container-height: 2.2rem,
      filled-container-shape: 0.3rem,
      filled-label-text-size: 0.93rem,
    )
  );
}
