<table cdk-table [dataSource]="dataSource">
  <!-- Position Column -->

  <!-- Name Column -->
  <ng-container cdkColumnDef="name">
    <th cdk-header-cell *cdkHeaderCellDef>Name</th>
    <td cdk-cell *cdkCellDef="let element">{{element.name}}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container cdkColumnDef="strasse">
    <th cdk-header-cell *cdkHeaderCellDef>Straße</th>
    <td cdk-cell *cdkCellDef="let element">{{element.strasse}}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container cdkColumnDef="land">
    <th cdk-header-cell *cdkHeaderCellDef>Land</th>
    <td cdk-cell *cdkCellDef="let element">{{element.land}}</td>
  </ng-container>

  <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
  <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
</table>
