<div class="flex justify-between">
  <h1>Beziehung-Details</h1>
  @if (data() && data()?.id) {
  <a href="/beziehung/{{ data()?.id }}/bearbeiten"
    ><button matButton="filled" class="-mt-1">Bearbeiten</button></a
  >
  }
</div>

@if (data()) {
<div class="mt-4">
  <p>
    <strong>Kontakt: </strong
    ><a href="/kontakte/{{data()!.kontakt.id}}">{{ data()!.kontakt.name }}</a>
  </p>
  <p>
    <strong>Immobilie: </strong
    ><a href="/kontakte/{{data()!.immobilie.id}}"
      >{{ data()!.immobilie.name }}</a
    >
  </p>
  <p><strong>beziehungstyp: </strong>{{ data()?.beziehungstyp}}</p>
  @if (data()?.beziehungstyp === 2 && data()?.dienstleistungstyp){
  <p>
    <strong>Dienstleistungstyp: </strong>
    {{data()!.dienstleistungstyp}}
  </p>
  }
  <p><strong>Startdatum: </strong>{{data()!.startdatum}}</p>
  <p><strong>enddatum: </strong>{{ data()?.enddatum }}</p>
</div>
} @else {
<p>Lade Beziehung...</p>
}
