@if(dataSource){

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{element.name}}</td>
  </ng-container>

  <ng-container matColumnDef="adresse">
    <th mat-header-cell *matHeaderCellDef>Adresse</th>
    <td mat-cell *matCellDef="let element">
      {{element.strasse}} {{element.hausnummer}}, {{element.postleitzahl}}
      {{element.stadt}}
    </td>
  </ng-container>

  <ng-container matColumnDef="land">
    <th mat-header-cell *matHeaderCellDef>Land</th>
    <td mat-cell *matCellDef="let element">{{element.land}}</td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <div class="flex flex-row h-full gap-6 justify-end">
        <img
          src="/icons/Delete.svg"
          class="h-4 cursor-pointer"
          (click)="dataSource.delete(element.id, $event)"
        />
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns;"
    (click)="dataSource.visit(row.id, $event)"
  ></tr>
</table>

}@else {
<p>Loading...</p>
}
